In [2]:
import pandas as pd
import seaborn as sns

In [26]:
retail = pd.read_csv(r'C:\Users\aimbe\OneDrive\Документы\GitHub\karpov_courses\Lesson 5\5_data.csv.zip', compression='zip', encoding = 'Windows-1251')

In [27]:
nrows_original = retail.shape[0]

In [28]:
nrows_original

541909

In [23]:
retail_columns = retail.columns

In [29]:
retail.drop_duplicates(inplace = True)

In [30]:
nrows = retail.shape[0]

In [33]:
nrows_original - nrows #counting for duplicated rows

5268

In [36]:
retail.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [44]:
retail.InvoiceNo.str.contains('C').sum()

9251

In [47]:
retail = retail[retail.Quantity > 0]

In [61]:
for_top = retail[retail.Country == 'Germany']\
.groupby('CustomerID', as_index = False)\
.agg({'InvoiceNo':'count'})

In [57]:
quantile_80

155.20000000000002

In [67]:
germany_top = for_top[for_top.InvoiceNo > quantile_80].CustomerID

In [71]:
germany_top

3     12471.0
4     12472.0
5     12473.0
6     12474.0
8     12476.0
9     12477.0
12    12481.0
20    12517.0
37    12569.0
52    12621.0
56    12626.0
57    12627.0
69    12662.0
71    12668.0
77    12705.0
78    12708.0
79    12709.0
83    12720.0
90    13815.0
Name: CustomerID, dtype: float64

In [68]:
top_retail_germany = retail.query('CustomerID in @germany_top')

In [70]:
top_retail_germany.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
1114,536527,22243,5 HOOK HANGER RED MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1115,536527,47421,ASSORTED COLOUR LIZARD SUCTION HOOK,24,12/1/2010 13:04,0.42,12662.0,Germany
1116,536527,20712,JUMBO BAG WOODLAND ANIMALS,10,12/1/2010 13:04,1.95,12662.0,Germany
1117,536527,20713,JUMBO BAG OWLS,10,12/1/2010 13:04,1.95,12662.0,Germany
1118,536527,22837,HOT WATER BOTTLE BABUSHKA,4,12/1/2010 13:04,4.65,12662.0,Germany

In [74]:
top_retail_germany\
.groupby('StockCode',as_index = False)\
.agg({'InvoiceDate':'count'})\
.sort_values('InvoiceDate', ascending = False)

     StockCode  InvoiceDate
1292      POST          180
463      22326           70
465      22328           46
512      22423           42
45       20719           37
...        ...          ...
400      22189            1
401      22190            1
408      22201            1
409      22202            1
0        10125            1

[1293 rows x 2 columns]

In [76]:
retail['Revenue'] = retail.Quantity * retail.UnitPrice

In [81]:
retail.groupby('InvoiceNo')\
.agg({'Revenue':'sum'})\
.sort_values('Revenue', ascending = False)

             Revenue
InvoiceNo
581483     168469.60
541431      77183.60
574941      52940.94
576365      50653.91
556444      38970.00
...              ...
558724          0.00
558725          0.00
558889          0.00
A563186    -11062.06
A563187    -11062.06

[20728 rows x 1 columns]